html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 38px;
  margin-bottom: 142px;
}

.logo {
  display: inline-block;
  margin-right: 40px;
}

.menu {
  display: inline-block;
}

.menu a {
  margin-right: 40px;
}

.user-menu {
  display: inline-block;
}

.user-menu a {
  text-decoration: none;
  margin-right: 40px;
  color: #fff;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation a {
  text-decoration: none;
  color: #919aa3;
  font-size: 16px;
}

.main-btn {
  padding: 20px 33px;
  background-color: #fff;
  border: none;
  border-radius: 8px;

  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  font-style: medium;
}

.main-btn:hover {
  box-shadow: 0px 5px 0px 0px rgba(7, 42, 68, 0.1);
  cursor: pointer;
}

.main-btn--secondary {
  padding: 20px 33px;
  border: none;
  border-radius: 8px;

  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  font-style: medium;
  background-color: #0074e4;
  color: #fff;
}

.main-btn--secondary:hover {
  box-shadow: 0px 5px 0px 0px rgba(7, 42, 68, 0.12);
  cursor: pointer;
}

.background {
  z-index: -1000;
  position: absolute;
  right: 0%;
  top: 0%;
}

.bg-figure {
  width: 700px;
}

.triangle {
  width: 100px;
  z-index: -100;
  position: absolute;
  top: 17%;
  left: -5%;
}

.triangle--bottom {
  width: 200px;
  z-index: -100;
  position: absolute;
  bottom: -32%;
  left: -130%;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.hero-text h1 {
  font-size: 44px;
  line-height: 66px;
  color: #171c34;
  margin-bottom: 13px;
}

.hero-text p {
  width: 80%;
  font-size: 18px;
  line-height: 28px;
  color: #919aa3;
  margin-bottom: 57px;
}

.hero-img img {
  width: 102%;
}
