html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 38px 250px 0px 250px;
}

.logo {
  display: inline-block;
  margin-right: 40px;
}

.menu {
  display: inline-block;
}

.menu a {
  margin-right: 40px;
}

.user-menu {
  display: inline-block;
}

.user-menu a {
  text-decoration: none;
  margin-right: 40px;
  color: #fff;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation a {
  text-decoration: none;
  color: #919aa3;
  font-size: 16px;
}

.main-btn {
  padding: 20px 33px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 5px 0px 0px rgba(7, 42, 68, 0.1);
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  font-style: medium;
}

.background {
  z-index: -1000;
  position: absolute;
  right: 0%;
  top: 0%;
}

.bg-figure {
  width: 800px;
}

.triangle {
  width: 150px;
  z-index: -100;
  position: absolute;
  top: 10%;
  left: -5%;
}
